@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --background: 10 10 10;
  --foreground: 237 237 237;
  --card: 23 23 23;
  --card-foreground: 237 237 237;
  --popover: 23 23 23;
  --popover-foreground: 237 237 237;
  --primary: 255 255 255;
  --primary-foreground: 0 0 0;
  --secondary: 38 38 38;
  --secondary-foreground: 255 255 255;
  --muted: 38 38 38;
  --muted-foreground: 161 161 170;
  --accent: 38 38 38;
  --accent-foreground: 255 255 255;
  --destructive: 239 68 68;
  --destructive-foreground: 255 255 255;
  --border: 255 255 255 / 0.1;
  --input: 255 255 255 / 0.1;
  --ring: 255 255 255 / 0.3;
  --radius: 0.75rem;
}